*{
    box-sizing:border-box;
}
body{
                  //  background: lightsalmon;
                    background: lightgray;
                }
                #wrapper{
                    width:85%;
                    margin:0px auto;
                    
                }
                
                
/*  =================HEADER ==================================*/
                header{
                    min-height:300px;
                }
                
                #img-gallery {
                     min-height:160px;
                }
                #img-gallery img {
                    width:33.3%;
                    padding:0%;
                    padding: 0%;
                }
                #img-gallery img:nth-of-type(1),#img-gallery img:nth-of-type(4) {
                 // padding-left: 1%;
                }
                 #company-slogan h5{
                font-size:1em;
                font-weight:bold;
                color:white;
                text-align: right;
                padding-top:1.8%;
                padding-bottom:1.8%;
            }
            
            